@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
 :root {
    --main-background: #6a8fab65;
    --color1: #a0efb5;
    --color2: #e47db4;
    --color3: #d785f0;
    --color4: #7c7ce8;
    --color5: #e79595;
    --color6: #e6cfa4;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--main-background);
}

@media (max-width: 500px) {
    .header-em {
        font-size: smaller;
        font-weight: bolder;
    }
}

@media (max-width: 420px) {
    .header-em {
        font-size: 10px;
        font-weight: bolder;
    }
    .main2-p {
        font-size: 14px;
        width: 300px;
    }
}

@media (max-width: 350px) {
    .footer p {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .main2-p {
        font-size: 12px;
        width: 280px;
    }
}

@media (max-width: 315px) {
    .header-h1 {
        font-size: x-large;
    }
    .header-em {
        font-size: xx-small;
    }
    .footer-div1,
    .footer-div2,
    .footer-div3,
    .footer-div5 {
        font-size: smaller;
    }
    .main-div1,
    .main-div2,
    .main-div3,
    .main-div4,
    .main-div5,
    .main-div6 {
        font-size: smaller;
    }
}


/* Nav start */

.top-nav {
    width: 100%;
    height: 69px;
    z-index: 2;
    background: linear-gradient( 90deg, #428fab3a, #428a);
    position: fixed;
}

.nav-ul {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.top-nav a {
    color: #05000a;
    text-decoration: none;
    transition: all 0.3s;
}

.top-nav a:hover {
    text-decoration: underline;
    color: #0D92E4;
}

.top-nav a:active {
    text-decoration: none;
    color: #104050;
}


/* Nav end */


/* Header start */

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient( #428a, #428fab3a);
}

.header-glass {
    width: 100%;
    height: 30%;
    min-height: 25%;
    border-top: 4px solid grey;
    border-bottom: 2px solid lightgrey;
    position: absolute;
    top: 35%;
    background-color: rgba(13, 125, 131, 0.119);
}

.header-h1 {
    text-decoration: underline;
}

.header-h1 span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.header-h1 span,
.header-em span {
    text-transform: uppercase;
    animation: change 2s linear infinite;
}

@keyframes change {
    20% {
        color: #070ff3;
    }
    40% {
        color: #08f783;
    }
    60% {
        color: #5409f7;
    }
    80% {
        color: #f10909;
    }
    100% {
        color: #000;
    }
}


/* Header end */


/* Main start */

.main {
    width: 100%;
    border: none;
}

.main a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.6s;
}

.main a:hover {
    color: #000;
    border-radius: 15%;
    background-color: #00000056;
}

.main a:active {
    background-color: inherit;
    font-size: smaller;
}

.main .container1 {
    height: 33.3vh;
    display: grid;
    grid-template-columns: 2fr 1.7fr;
    /* grid-template-rows: ; */
}

.main-div1 {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main h3 {
    text-decoration: underline;
}

.main-div2 {
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main .container2 {
    height: 33.3vh;
    display: grid;
    grid-template-columns: 1.7fr 2fr;
}

.main-div3 {
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-div4 {
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main .container3 {
    height: 33.3vh;
    display: grid;
    grid-template-columns: 2fr 1.7fr;
}

.main-div5 {
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-div6 {
    background-color: var(--color6);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* Main end */


/* Main2 start */

.main2 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient( #428a, #428fab3a);
}

.main2-h2 {
    border-bottom: 2px solid #000;
    letter-spacing: 1px;
    z-index: 1;
    margin-top: 75px;
}

.main2-p {
    margin-top: 10px;
    margin-bottom: 75px;
    max-width: 400px;
    letter-spacing: 2px;
    z-index: 1;
}

.main2-p a {
    color: #000;
    transition: all 0.5s;
}

.main2-p a:hover {
    color: #0d92e4;
    text-decoration: none;
}

.main2-p a:active {
    color: #0b1ef1;
    font-size: smaller;
}


/* Main2 start */


/* Footer start */

.footer {
    width: 100%;
    height: auto;
    background: linear-gradient( #428fab3a, #428a);
}

.footer-div1,
.footer-div2,
.footer-div3 {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
}

.footer-div1 h3,
.footer-div2 h3,
.footer-div3 h3 {
    margin-left: 5px;
}

.icon {
    margin-left: 10px;
}

.a {
    color: #000;
    margin-left: 5px;
    transition: all 0.5s;
}

.a:hover {
    text-decoration: none;
    color: #0d92e4;
}

.a:active {
    color: #0b1ef1;
    font-size: smaller;
}

.no {
    margin-left: 5px;
}

.ad {
    margin-left: 5px;
    margin-top: 40px;
}

.footer p {
    margin: 10px;
}

.footer-div4 * {
    margin: 3px;
    display: inline;
}

.copyright {
    list-style: none;
    margin-left: 10px;
}

.footer-div5 {
    width: 100%;
    height: 50px;
    background: linear-gradient(360deg, #428a, #428fab3a);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 20px 0 0 0;
}


/* Pre Written Code "Not Done By Me"  */

.icon.alt:before {
    background-color: #428a;
    border-radius: 100%;
    color: #ffffff;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
}

.icon.solid:before {
    font-weight: 900;
}

.icon:before {
    font-family: 'Font Awesome 5 Free';
}

.icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
}


/* Footer end */