:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    color: var(--main-white);
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 350) {
    * {
        max-width: 290px;
    }
}


/* Nav bar style start */

#navbar {
    height: 55px;
    width: 100%;
    background-color: var(--main-red);
    display: fixed;
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 15px 0 17px 0;
}

#navbar a {
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--main-white);
    margin: auto 30px;
    padding: 100% 2 15px 2;
    text-decoration: none;
}

#navbar a:hover {
    background-color: var(--main-blue);
}

@media (max-width: 700px) {
    #navbar {
        height: 50px;
    }
    #navbar a {
        padding: 100% 2 14px 2;
        font-size: 1.2rem;
    }
}

@media (max-width: 580px) {
    #navbar {
        height: 45px;
    }
    #navbar a {
        padding: 100% 2 13px 2;
        font-size: 1rem;
    }
}

@media (max-width: 470px) {
    #navbar {
        height: 45px;
        display: flex;
        justify-content: center;
    }
    #navbar a {
        padding: 100% 2 13px 2;
        font-size: 1rem;
    }
    #navbar ul li:nth-of-type(3) a {
        margin-right: 1;
    }
    #navbar ul li:nth-of-type(2) a {
        margin-right: 1;
    }
    #navbar ul li:nth-of-type(1) a {
        margin-right: 1;
        margin-left: 1;
    }
}


/* Nav bar style end */


/* Welcome page start */

.welcome-section {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome-section p {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}

.welcome-section h1 span {
    font-family: Trabuchet;
    font-style: italic;
    animation: change 7s linear infinite;
}

@media (max-width: 700px) {
    .welcome-section {
        font-size: 1.6rem;
    }
    .welcome-section p {
        font-size: 1.6rem;
    }
}

@media (max-width: 580px) {
    .welcome-section {
        font-size: 1.3rem;
    }
    .welcome-section p {
        font-size: 1.3rem;
    }
}

@media (max-width: 470px) {
    .welcome-section {
        font-size: 1rem;
    }
    .welcome-section p {
        font-size: 1.3rem;
    }
}

@media (max-width: 330px) {
    .welcome-section {
        font-size: 0.8rem;
    }
    .welcome-section p {
        font-size: 1rem;
    }
}

@keyframes change {
    25% {
        color: var(--main-gray);
    }
    40% {
        color: purple;
    }
    60% {
        color: var(--main-red);
    }
    75% {
        color: var(--main-blue);
    }
    100% {
        color: var(--main-white);
    }
}


/* Welcome page end */


/* Projects page start */

.projects {
    width: 100%;
    font-size: 1.7rem;
    background-color: var(--main-blue);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 15px 0 15px 0;
}

@media (max-width: 700px) {
    .projects h2 {
        font-size: 1.6rem;
    }
}

@media (max-width: 580px) {
    .projects h2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 470px) {
    .projects h2 {
        font-size: 1rem;
    }
}

@media (max-width: 330px) {
    .projects h2 {
        font-size: 0.8rem;
    }
}


/* Projects page end */


/* images start */

.img-div {
    display: flexbox;
}

.image {
    width: 300px;
    border: 1px solid black;
    margin: 20;
}


/* images end */


/* Contact page start */

.contact {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px 0 20px 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #000;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.saying {
    padding-bottom: 30px;
}

.bottom-head {
    padding-bottom: 10px;
}

.user-story {
    width: 80%;
    height: auto;
}

.contact-me {
    margin-top: 50px;
    margin-bottom: 40px;
}

.contact li,
a {
    font-size: 1.4rem;
    display: inline;
    margin: 10px;
}

@media (max-width: 700px) {
    .contact li,
    a {
        font-size: 1.1rem;
        margin: 10px;
    }
}

@media (max-width: 600px) {
    .contact li,
    a {
        font-size: 1rem;
        margin: 10px;
    }
}

@media (max-width: 550px) {
    .contact li,
    a {
        font-size: 0.9rem;
        margin: 5px;
    }
}

@media (max-width: 430px) {
    .contact li,
    a {
        font-size: 0.8rem;
        margin: 3px;
    }
}

@media (max-width: 400px) {
    .contact li,
    a {
        font-size: calc(0.6rem + 2px);
        margin: 2px;
    }
}

.bottom-line {
    width: 100%;
    height: 5px;
    margin-top: 130px;
    background-color: var(--main-red);
}

.country {
    margin-top: 15px;
}

.inline {
    display: inline;
}

.down {
    background-color: #000;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}


/* Contact page start */